*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  /* 10px/16px = 62.5% => 1rem = 10px */

}

body {
  font-family: 'Open Sans', sans-serif;
  background-image: url(img/layout.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h2 {
  font-weight: normal;
}

.container {
  display: -ms-grid;
  display: grid;
  width: 70%;
  margin: 9.5rem auto;
  -ms-grid-columns: 35rem 35rem 35rem;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-auto-rows: 40rem;
}

.item {
  display: -ms-grid;
  display: grid;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1.6rem;
  color: white;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.item-img {
  width: 15rem;
  height: 15rem;
  padding-bottom: 5rem;
}

.item--1 {
  background-color: #00cccc;
}

.item--2 {
  background-color: #4ed486;
}

.item--3 {
  background-color: #6139f6;
}

.item--4 {
  background-color: #e3b63d;
}

.item--5 {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row dense;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #dc3d66), color-stop(50%, #b93457));
  background: -o-linear-gradient(top, #dc3d66 50%, #b93457 50%);
  background: linear-gradient(to bottom, #dc3d66 50%, #b93457 50%);
}

.item-img {
  -ms-grid-column-align: center;
  justify-self: center;
}

.daily-content {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: repeat(4, 1fr);
  text-transform: none;
  font-weight: 200;
}

@media only screen and (max-width: 37.5em) {
  .daily-content {
    font-size: 1.3rem;
  }
}

.daily-item {
  display: -ms-grid;
  display: grid;
}

.daily-item h2 {
  padding-bottom: 1.6rem;
}

.daily-img {
  padding-bottom: 1.5rem;
  width: 10rem;
  height: 5rem;
}

.item--6 {
  background-color: #bd54cd;
}