*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  /* 10px/16px = 62.5% => 1rem = 10px */

}

body {
  font-family: 'Open Sans', sans-serif;
  background-image: url(img/layout.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  padding: 100px 0;
}

h2 {
  font-weight: normal;
}

.container {
    display: flex;
    width: 62rem;
    height: auto;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 6rem;
    box-shadow: 0 0 4rem #000;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20.6rem;
  height: 20.5rem;
  color: #fff;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: bold;
}

.item-img {
  width: 10rem;
  height: 10rem;
  padding-bottom: 3rem;
}

.item--1 {
  background-color: #00cccc;
}

.item--2 {
  background-color: #4ed486;
}

.item--3 {
  background-color: #6139f6;
}

.item--4 {
  background-color: #e3b63d;
}

.item--5 {
  display: flex;
  background: linear-gradient(to bottom, #dc3d66 50%, #b93457 50%);
}

.daily-item-img {
  width: 20.5rem;
  height: 10.7rem;
  display: block;
  margin-left: auto;
  margin-top: auto;
}

.daily-content {
  display: flex;
  width: 20.5rem;
  height: 10rem;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
}

.daily-item {
  display: flex;
  flex-direction: column;
}

.daily-item h2 {
  font-size: 1.2rem;
}

.daily-item-img {
  width: 20.5rem;
  height: 10.7rem;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.item-img-big {
  height: 6.5rem;
}

.daily-img {
  width: 2.5rem;
  height: 2.5rem;
}

.item--6 {
  background-color: #bd54cd;
}